 /*
   * Build and Run v.2.0.2 CSS.
   *
   * Note: The corresponding styles are in the ./payment/confirmation.css file.
   */

.confetti {
    width: 90px;
    height: auto;
}

.thankyou {
    margin-top: 5rem;
    font-size: xx-large;
}

#br-thankyou {
    margin-top: -0.5rem;
}

.blank-form-father {
    display: inline-block;
}

.blank-box-title {
    text-align: left;
    margin-bottom: -0.5rem;
    margin-top: -0.5rem;
}

.blank-checkbox {
    font-size: small;
    margin-top: 1rem;
}

.blank-payment-successful {
  margin-top: 5rem;
}

.blank-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    background-color: #ffffffde;
    border-radius: 20px;
    padding: 30px 20px;
    box-shadow: 100px 100px 80px rgba(0, 0, 0, 0.03)
  }
  
  .blank-title {
    color: black;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    margin-bottom: 4px;
  }
  
  .blank-sub {
    text-align: center;
    color: black;
    font-size: 14px;
    width: 100%;
  }
  
  .blank-sub.mb {
    margin-bottom: 1px;
  }
  
  .blank-sub a {
    color: rgb(23, 111, 211);
  }
  
  .blank-avatar {
    height: 20px;
    width: 50px;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 50%;
    align-self: center;
    padding: 6px;
    cursor: pointer;
    box-shadow: 12.5px 12.5px 10px rgba(0, 0, 0, 0.015),100px 100px 80px rgba(0, 0, 0, 0.03);
  }
  
  .blank-form button {
    align-self: flex-end;
  }
  
  .blank-input, button {
    border: none;
    outline: none;
    width: 100%;
    padding: 16px 10px;
    background-color: rgb(247, 243, 243);
    border-radius: 10px;
    box-shadow: 12.5px 12.5px 10px rgba(0, 0, 0, 0.015),100px 100px 80px rgba(0, 0, 0, 0.03);
  }
  
  .blank-button {
    margin-top: 12px;
    background-color: rgb(23, 111, 211);
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
  }
  
  .blank-input:focus {
    border: 1px solid rgb(23, 111, 211);
  }
  
  #blank-file {
    display: none;
  }

  /* PAY SUCCESS  */
  
  .pay-success-title {
    font-size: 28px;
    color: #05a652;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
  }
  
  .pay-success-title::before,.pay-success-title::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: #05a652;
  }
  
  .pay-success-title::before {
    width: 18px;
    height: 18px;
    background-color: #05a652;
  }
  
  .pay-success-title::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
  }
  
  @keyframes pulse {
    from {
      transform: scale(0.9);
      opacity: 1;
    }
  
    to {
      transform: scale(1.8);
      opacity: 0;
    }
  }