/*
   * Build and Run v.2.0.2 CSS.
   *
   * Note: The corresponding styles are in the ./partners.css file.
   */

.plan-container {
  text-align: center;
  padding: 8rem 8rem 8rem 8rem;
  display: block;
}

.plan-house {
  background-image: url(https://demos.creative-tim.com/soft-ui-design-system/assets/img/curved-images/curved11.jpg);
  background-size: cover; /* Cover the entire element */
  background-position: center; /* Center the background */
  border-radius: 20px; /* Rounded corners */
  padding: 5rem; /* Padding on all sides */
  margin: -5rem; /* Negative margin to create space outside */
}

.plans {
  display: flex;
  justify-content: center;
  align-items: center;
}

.plan {
  width: 200px;
  padding: 20px;
  margin: 20px;
  background-color: #f2f2f2; /* Gray background */
  border-radius: 10px;
  /* display: block; */
  align-self: center;
}

.plan h2 {
  margin-top: 0;
}

.plan button {
  background-color: #272a2e;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.plan button:hover {
  background-color: #000000;
}

@media screen and (max-width: 768px) {
  .plans {
    flex-direction: column; /* Align vertically on mobile view */
  }
}

/* @media screen and (max-width: 768px) {
  .plan-house {
    padding-left: 10rem;
  }
} */

.plan-house-bold {
  text-align: center;
}

.pricing-description-plan {
  margin-bottom: 8rem;
  font-weight: 500;
  font-size: medium;
}

.pricing-text-plan {
  background-image: linear-gradient(
    83.3deg,
    #ff1d72 5.23%,
    #8f1fff 47.02%,
    #17bfd6 94.72%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: no-repeat;
}

.plan-price {
  margin-bottom: 1rem;
  font-weight: bolder;
  background-image: linear-gradient(
    83.3deg,
    #ff1d72 5.23%,
    #8f1fff 47.02%,
    #17bfd6 94.72%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: no-repeat;
}
.plan-description {
  margin-bottom: 1rem;
}

.plan-features {
  margin-bottom: 1rem;
}

.plan-logo {
  margin-top: -5rem;
  display: flex;
  justify-content: center;
  align-items: center; /* Center vertically */
}

.cardplan {
  border: 1px solid white;
  backdrop-filter: blur(6px);
  border-radius: 17px;
  cursor: pointer;
  transition: all 0.5s;
  user-select: none;
  color: black;
}

.cardplan:hover {
  border: 1px solid black;
  transform: scale(1.05);
}

.cardplan:active {
  transform: scale(0.95) rotateZ(1.7deg);
}

.plan-footer {
  margin-top: 8rem;
}

.plan-shadow__btn {
  padding: 10px 20px;
  border: none;
  font-size: 17px;
  color: #fff;
  border-radius: 7px;
  letter-spacing: 4px;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.5s;
  transition-property: box-shadow;
  width: 170px;
}

.plan-shadow__btn {
  background-image: url(https://demos.creative-tim.com/soft-ui-design-system/assets/img/curved-images/curved11.jpg);
  box-shadow: 0 0 25px rgba(246, 78, 59, 0.5);
}

.plan-shadow__btn:hover {
  box-shadow: 0 0 5px rgba(246, 90, 59, 0.5), 0 0 25px rgba(246, 62, 59, 0.5),
    0 0 50px rgba(246, 109, 59, 0.5), 0 0 100px rgba(246, 59, 59, 0.5);
}

.plan-footer-text {
  margin-top: 2rem;
}

.navigation-home {
  margin-top: -6rem;
  margin-bottom: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation-card {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  background-image: url(https://demos.creative-tim.com/soft-ui-design-system/assets/img/curved-images/curved11.jpg);
  padding: 15px 20px;
  border-radius: 50px;
}
.navigation-tab {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  overflow: hidden;
  background-color: rgb(252, 252, 252);
  padding: 15px;
  border-radius: 50%;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s;
}
.navigation-tab:hover {
  background-color: rgb(223, 223, 223);
}
